@import 'snip';

body {
	font-family: Verdana, "Sans-Serif";
	font-weight: 400;
	font-size: 14px;
}
.center-layout {
	width: 960px;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	&:after {
		@extend .clear;
	}
}
.header {
	border-top: 5px solid #73c040;
	margin-bottom: 14px;
	/* header left menu */
	&__nav {
		background: #fdfefc;
		background: linear-gradient(to bottom, #fefefe, #f4f7ef);
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
		&:after {
			@extend .clear;
		}
	}
	&__list-profile {
		float: left;

		@include list;
		margin-left: 28px;
		&:after {
			@extend .clear;
		}
		&-item {
			float: left;
			margin-left: 53px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-link {
			color: #666;
			display:: inline-block;
			position: relative;
			padding-top: 15px;
			padding-bottom: 16px;
			&:hover {
				color: #85c858;
				text-decoration: none;
			}
			&:before {
				display: block;
			    content: "";
			    position: absolute;
			    left: -28px;
				background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			}
			&_profile:hover:before {
				background-position: -109px -47px;
			}
			&_profile:before{
				width: 16px;
			    height: 15px;
			    background-position: -83px -47px;
			}
			&_backet {
				&:before {
					width: 18px;
				    height: 16px;
				    background-position: -85px -5px;
				}
				&:hover:before {
					background-position: -113px -5px;
				}
			}
			&_check {
				&:before {
				width: 16px;
			    height: 11px;
			    background-position: -298px -5px;
			    top: 18px;
			    left: -25px
			    }
			    &:hover:before {
			    	background-position: -298px -26px;
			    }
			}
		}
	}
	/* header right menu*/
	&__list-enter {
		float: right;
		@include list;
		margin-right: 7px;
		&:after {
			@extend .clear;
		}
		&-item {
			float: left;
			margin-left: 45px;
			&:first-child {
				margin-left: 0;
			}
			&_enter {
				margin-left: 20px;
			}
		}
		&-link {
			color: #666;
			display:: inline-block;
			padding: 15px 5px 16px;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: #89d656;
				background: linear-gradient(to bottom, #8cd959, #74c141);
			}
			&_line {
				margin-left: 2px;
				margin-right: 1px;
				padding: 0;
			}
			&_language {
				position: relative;
				width: 80px;
				text-align: right;
				&:before{
					width: 16px;
				    height: 11px;
				    background-position: -5px -47px;
				    background-image: url(../img/spritesheet.png);
				    background-repeat: no-repeat;
				    display: block;
				    content: "";
				    position: absolute;
				    left: 5px;
				    top: 18px;
				}
			}
		}
	}
	/* header logo section */
	.header__logo {
		margin-bottom: 10px;
		&-link {
			float: left;
		}
	}
	&__contakts {
		float: right;
		padding-top: 18px;
		&:after {
			@extend .clear;
		}
		&-tel, &-comp {
			padding-left: 25px;
			border: 1px solid #ccc;
			padding-top: 5px;
			a {
				margin: 0;
				margin-bottom: 7px;
				position: relative;
				display: block;
				color: #666;
			}
		}
		&-tel {
			float: left;
			min-width: 152px;
			background: #fefffe;
			background: linear-gradient(to bottom, #fefffe, #f4f7ef);
			&_tel:before {
				width: 10px;
			    height: 16px;
			    background-position: -466px -5px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -18px;
			    top: 4px;
			}
			&_fax:before {
				 width: 16px;
			    height: 16px;
			    background-position: -57px -47px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
		}
		&-comp {
			float: right;
			margin-left: 10px;
			min-width: 175px;
			background: #fefffe;
			background: linear-gradient(to bottom, #fefffe, #f4f7ef);
			&_skype:before {
				width: 14px;
			    height: 15px;
			    background-position: -298px -47px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
			&_mail:before {
				width: 16px;
			    height: 11px;
			    background-position: -31px -47px;
				position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
		}
	}


	/* header bottom*/
	/* header bottom navigation*/
	&__menu {
		float: left;
		margin-top: 10px;
		&-list {
			@include list;
			&:after {
				@extend .clear;
			}
		}
		&-item {
			float: left;
			margin-left: 18px;
			text-transform: uppercase;
			color: #4b4b4b;
			font-size: 18px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-link {
			color: #4b4b4b;
			transition: 0.3s;
			&:hover, &_active { 
				color: #73c040;
				text-decoration: none;
			}
		}
		
	}

	/* header bottom search and basket*/
	&__info {
		float: right;
		min-width: 442px;
		&:after {
			@extend .clear;
		}

		&-fake {
			border: 1px solid #73c040;
			position: relative;
			min-width: 245px;
		}
		&-input {
			padding: 13px 5px 13px;
			border: 0;
			color: #4b4b4b;
			min-width: 206px;
			&:focus {
				outline: 0;
			}
		}
		&-submit, .fake-submit {
			width: 41px;
			height: 43px;
			position: absolute;
			right: 0;
			top: 0;	
		}

		&-submit {
			z-index: 2;
			opacity: 0;
		}
		&-form {
			float: left;
		}
		.fake-submit {
			cursor: pointer;
			z-index: 1;
			background: #8dd95a url(../img/spritesheet.png) 218px 142px;
			background: url(../img/spritesheet.png) 218px 142px, linear-gradient(to bottom, #8dd95a, #75c242);
		}
	}
	&__price {
		background: #8dd95a url(../img/spritesheet.png) 218px 106px;
		float: left;
		width: 130px;
		margin-left: 10px;
		padding: 13px 5px;
		color: #fff;
		padding-left: 50px;
		cursor: pointer;
	}
}

/* slider block */
.slider{
	max-width: 1776px;
	margin: 0 auto;
	&__list {
		@include list;
	}
	&__item {
		padding: 25px 0 10px;
		&_first {
			background: url('../img/slider-img-1.jpg') no-repeat;
		}
	}
	&__content-img-wrapper {
		float: left;
	}
	&__text {
		float: left;
		margin-left: 90px;
		margin-top: 15px;
		color: #4b4b4b;
		&-first {
			font-size: 45px;
		}
		&-second {
			font-size: 70px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		&-third {
			font-size: 17px;
		}
	}
}
.bx-viewport {
	width: auto!important;
}

/* our products block */
.main {
	width: 695px;
	float: left;
	&-content {
		margin-bottom: 10px;
	}
	&__title {
		color: #4b4b4b;
		position: relative;
		padding-left: 20px;
		font-weight: normal;
		font-size: 32px;
		margin-bottom: 13px;
		&_float {
			float: left;
			margin: 0;
			margin-bottom: 30px;
		}
		&:before {
			display: inline-block;
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			width: 12px;
		    height: 26px;
		    background-image: url('../img/spritesheet.png');
   			background-repeat: no-repeat;
		    background-position: -378px -165px;
		}
	}
	/* menu */
	&__our-products {
		&-nav-list {
			@include list;
			@extend .clear;
			margin-bottom: 20px;
		}
		&-nav-item {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-nav-link {
			@include buttons(auto, 45px, 0, #898989);
			color: #fff;
			background: linear-gradient(to bottom, #898989, #6a6a6a);
			font-size: 18px;
			padding-left: 20px;
			padding-right: 20px;
			&:hover {
				text-decoration: none;
				background: #83d24e;
				background: linear-gradient(to bottom, #83d24e, #75c242);

			}
		}
		&-phones {
			&-list {
				@include list;
				@extend .clear;
			}
			&-item {
				float: left;
				width: 225px;
				padding-top: 5px;
				min-height: 336px;
				margin-left: 6px;
				margin-bottom: 25px;
				text-align: center;
				padding-bottom: 25px;
				transition: 0.3s;
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					box-shadow: 0 0 5px 1px rgba(0,0,0, 0.5);
				}
			}
			&-link {
				width: 225px;
				height: 237px;
				display: block;
				position: relative;
				margin-bottom: 10px;
			}
		}
		&-discount-price {
			position: absolute;
			background: #73c040;
			text-align: center;
			width: 82px;
			height: 82px;
			border-radius: 50%;
			bottom: -8px;
			right: 12px;
		}
		&-phones-old, &-phones-new {
			display: inline-block;
			position: absolute;
		}
		&-phones-old {
			text-decoration: line-through;
			left: 15px;
			top: 18px;
			color: #676c63;
			font-size: 12px;
		}
		&-phones-new {
			color: #fff;
			top: 35px;
			left: 10px;
		}
		&-phones-img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		&-star-list {
			@include list;
			margin-left: 60px;
			margin-bottom: 8px;
			&:after {
				@extend .clear;
			}
		}
		&-star-item {
		 	width: 16px;
		    height: 15px;
		    background-position: -325px -165px;
		    background-image: url(spritesheet.png);
    		background-repeat: no-repeat;
    		float: left;
    		margin-left: 4px;
    		cursor: pointer;
    		&_active {
    			background-position: -351px -165px;
    		}
		}
		&-phone-text {
			text-align: center;
			color: #575757;
			height: 42px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-size: 18px;
			margin-bottom: 10px;
			margin-top: 0;
		}
		&-phones-button {
			@include buttons(115px, 45px, 0, #8c8c8c);
			background: linear-gradient(to bottom, #949494, #696969);
			color: #fff;
			font-size: 18px;
			font-weight: normal;
			&:hover {
				background: #8dde57;
				background: linear-gradient(to bottom, #92e45c, #76c343)
			}
		}
		&-discount{
			background: #d50000;
			display: inline-block;
			width: 70px;
			height: 30px;
			position: absolute;
			z-index: 1;
			left: 10px;
			color: #fff;
			padding-top: 15px;
		}
	}
	&__prydbay-content{
		margin-bottom: 25px;
		&:after {
			@extend .clear;
		}
	}
	&__prydbay-text {
		color: #636363;
		float: left;
		width: 350px;
	}
	&__prydbay-p {
		margin-top: 0;
	}
	&__prydbay-img-wrap {
		float: right;
	}
	&__controls {
		float: right;
	}
	&__control {
		width: 45px;
		height: 45px;
		background: #89d953;
		background: linear-gradient(to bottom, #92e35c, #78c645);
		display: inline-block;
		margin-left: 10px;
		cursor: pointer;
		position: relative;
		&:hover {
			background: #f8faf5;
			background: linear-gradient(to bottom, #fefefe, #f3f7ef);
			box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
		}
		&:before {
			position: absolute;
			width: 0;
			height: 0;
			display: block;
			content: "";
			border: 10px solid #fff;
			top: 14px;
			left: 13px;
			transform: rotate(45deg);
		}

		&-left:before {
			border-right-color: transparent;
			border-top-color: transparent;
			left: 17px;
		}
		&-right:before {
			border-left-color: transparent;
			border-bottom-color: transparent;
			left: 8px;
		}
		&-left:hover:before {
			border-left-color: #71bc3f;
			border-bottom-color: #71bc3f;
		}
		&-right:hover:before {
			border-right-color: #71bc3f;
			border-top-color: #71bc3f;
		}
	}
}
.aside {
	width: 250px;
	float: right;
}


/* brands */
.brands {
	width: 100%;
	margin-bottom: 50px;
	&:after {
		@extend .clear;
	}
	&-list {
		clear: both;
		@include list;
	}
	&-item {
		float: left;
		width: 150px;
		height: 100px;
		position: relative;
		border: 1px solid #ccc;
		margin-left: 8px;
		background: #fffffe;
		background: linear-gradient(to bottom, #fefefe, #f5f8f1);
		&:first-child {
			margin-left: 0;
		}
	}
	&-link {
		width: 147px;
	    height: 82px;
	    background-image: url('../img/spritesheet.png');
    	background-repeat: no-repeat;
    	display: inline-block;
    	position: absolute;
    	top: 0;
    	right: 0;
    	left: 0;
    	bottom: 0;
    	margin: auto;
    	&_blizzard {
    		background-position: -141px -5px;
    		width: 147px;
   			height: 77px;
    	}
    	&_ssr {
    		background-position: -325px -73px;
    		width: 131px;
    		height: 82px;
    	}
    	&_kyivstar{
    		background-position: -158px -157px;
    		width: 89px;
    		height: 82px;
    	}
    	&_mts{
    		width: 133px;
		    height: 64px;
		    background-position: -5px -249px;
    	}
    	&_skype {
    		width: 132px;
		    height: 58px;
		    background-position: -324px -5px;
    	}
    	&_playstation {
    		width: 103px;
		    height: 80px;
		    background-position: -148px -249px;
    	}
	}
}

/* last bought section */
.last-bought {
	background: #73c040;
	padding: 13px;
	position: relative;
	z-index: 1;
	&__logo {
		width: 60px;
	    height: 55px;
	    background-position: -205px -92px;
	    background-image: url('../img/spritesheet.png');
	    background-repeat: no-repeat;
	    position: absolute;
	    bottom: -25px;
	}
	&__text {
		text-align: center;
		color: #fff;
	}
}

.footer {
	z-index: 12;
	background: #666;
	color: #fff;
	padding-bottom: 25px;
	&-fix {
		padding-bottom: 322px;
		content: "";
		display: block;
	}
	&__text {
		margin-bottom: 50px;
		&:after {
			@extend .clear;
		}
		&-title {
			font-size: 22px;
			font-weight: normal;
			margin-bottom: 10px;
		}
	}
	&__info {
		float: left;
		margin-left: 45px;
		&:first-child {
			margin-left: 0;
		}
		&_member {
			width: 250px;
		}
	}
	&__list {
		@include list;
		margin-left: 35px;
		float: left;
	}
	&__item {
		margin-bottom: 6px;
		&-member {
			display: inline-block;
		}
	
	}
	&__link {
		display: inline-block;
		position: relative;
			&:before {
			content: "";
			display: inline-block;
			width: 0;
			height: 0;
			border: 4px solid #73c040;
			border-left-color: transparent;
			border-bottom-color: transparent;
			position: absolute;
			transform: rotate(45deg);
			left: -18px;
			bottom: 5px;
		}
	}
	&__email-link {
		color: #fff;
	}
	&__list-member {
		margin-bottom: 10px;
	}
	&__copy-social {
		&-list {
			@include list;
			width: 238px;
			float: left;
			&:after {
				@extend .clear;
			}
		}
		&-item, &-link{
			display: inline-block;
		}
		&-link {
			background-image: url('../img/spritesheet.png');
			background-repeat: no-repeat;
			width: 40px;
			height: 40px;
			border-radius: 8px;
			margin-left: 3px;
			&_face {
				background-position: -55px -92px;
				&:hover {
					background-position: -5px -92px;
				}
			}
			&_twitter{
				background-position: -108px -142px;
				&:hover {
					background-position: -55px -144px;
				}
			}
			&_vk{
				  background-position: -5px -192px;

				&:hover {
					background-position: -275px -142px;
				}
			}
			&_google{
				  background-position: -155px -92px;
				&:hover {
					background-position: -105px -92px;
				}
			}
			&_mail{
				  background-position: -5px -142px;
				&:hover {
					background-position: -275px -92px;
				}
			}
		}
	}
	&__copy-copyright {
		text-align: center;
		float: right;
		bottom: 25px;
	}
}
