@import 'snip';

body {
	font-family: Verdana, "Sans-Serif";
	font-weight: 400;
	font-size: 14px;
}
.center-layout {
	width: 960px;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	&:after {
		@extend .clear;
	}
}
.header {
	border-top: 5px solid #73c040;
	margin-bottom: 14px;
	/* header left menu */
	&__nav {
		background: #fdfefc;
		background: linear-gradient(to bottom, #fefefe, #f4f7ef);
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
		&:after {
			@extend .clear;
		}
	}
	&__list-profile {
		float: left;

		@include list;
		margin-left: 28px;
		&:after {
			@extend .clear;
		}
		&-item {
			float: left;
			margin-left: 53px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-link {
			color: #666;
			display:: inline-block;
			position: relative;
			padding-top: 15px;
			padding-bottom: 16px;
			&:hover {
				color: #85c858;
				text-decoration: none;
			}
			&:before {
				display: block;
			    content: "";
			    position: absolute;
			    left: -28px;
				background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			}
			&_profile:hover:before {
				background-position: -109px -47px;
			}
			&_profile:before{
				width: 16px;
			    height: 15px;
			    background-position: -83px -47px;
			}
			&_backet {
				&:before {
					width: 18px;
				    height: 16px;
				    background-position: -85px -5px;
				}
				&:hover:before {
					background-position: -113px -5px;
				}
			}
			&_check {
				&:before {
				width: 16px;
			    height: 11px;
			    background-position: -298px -5px;
			    top: 18px;
			    left: -25px
			    }
			    &:hover:before {
			    	background-position: -298px -26px;
			    }
			}
		}
	}
	/* header right menu*/
	&__list-enter {
		float: right;
		@include list;
		margin-right: 7px;
		&:after {
			@extend .clear;
		}
		&-item {
			float: left;
			margin-left: 45px;
			&:first-child {
				margin-left: 0;
			}
			&_enter {
				margin-left: 20px;
			}
		}
		&-link {
			color: #666;
			display:: inline-block;
			padding: 15px 5px 16px;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: #89d656;
				background: linear-gradient(to bottom, #8cd959, #74c141);
			}
			&_line {
				margin-left: 2px;
				margin-right: 1px;
				padding: 0;
			}
			&_language {
				position: relative;
				width: 80px;
				text-align: right;
				&:before{
					width: 16px;
				    height: 11px;
				    background-position: -5px -47px;
				    background-image: url(../img/spritesheet.png);
				    background-repeat: no-repeat;
				    display: block;
				    content: "";
				    position: absolute;
				    left: 5px;
				    top: 18px;
				}
			}
		}
	}
	/* header logo section */
	.header__logo {
		margin-bottom: 10px;
		&-link {
			float: left;
		}
	}
	&__contakts {
		float: right;
		padding-top: 18px;
		&:after {
			@extend .clear;
		}
		&-tel, &-comp {
			padding-left: 25px;
			border: 1px solid #ccc;
			padding-top: 5px;
			a {
				margin: 0;
				margin-bottom: 7px;
				position: relative;
				display: block;
				color: #666;
			}
		}
		&-tel {
			float: left;
			min-width: 152px;
			background: #fefffe;
			background: linear-gradient(to bottom, #fefffe, #f4f7ef);
			&_tel:before {
				width: 10px;
			    height: 16px;
			    background-position: -466px -5px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -18px;
			    top: 4px;
			}
			&_fax:before {
				 width: 16px;
			    height: 16px;
			    background-position: -57px -47px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
		}
		&-comp {
			float: right;
			margin-left: 10px;
			min-width: 175px;
			background: #fefffe;
			background: linear-gradient(to bottom, #fefffe, #f4f7ef);
			&_skype:before {
				width: 14px;
			    height: 15px;
			    background-position: -298px -47px;
			    position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
			&_mail:before {
				width: 16px;
			    height: 11px;
			    background-position: -31px -47px;
				position: absolute;
			    content: "";
			    background-image: url(../img/spritesheet.png);
			    background-repeat: no-repeat;
			    display: block;	
			    left: -20px;
			    top: 4px;
			}
		}
	}


	/* header bottom*/
	/* header bottom navigation*/
	&__menu {
		float: left;
		margin-top: 10px;
		&-list {
			@include list;
			&:after {
				@extend .clear;
			}
		}
		&-item {
			float: left;
			margin-left: 18px;
			text-transform: uppercase;
			color: #4b4b4b;
			font-size: 18px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-link {
			color: #4b4b4b;
			transition: 0.3s;
			&:hover, &_active { 
				color: #73c040;
				text-decoration: none;
			}
		}
		
	}

	/* header bottom search and basket*/
	&__info {
		float: right;
		min-width: 442px;
		&:after {
			@extend .clear;
		}

		&-fake {
			border: 1px solid #73c040;
			position: relative;
			min-width: 245px;
		}
		&-input {
			padding: 13px 5px 13px;
			border: 0;
			color: #4b4b4b;
			min-width: 206px;
			&:focus {
				outline: 0;
			}
		}
		&-submit, .fake-submit {
			width: 41px;
			height: 43px;
			position: absolute;
			right: 0;
			top: 0;	
		}

		&-submit {
			z-index: 2;
			opacity: 0;
		}
		&-form {
			float: left;
		}
		.fake-submit {
			cursor: pointer;
			z-index: 1;
			background: #8dd95a url(../img/spritesheet.png) 218px 142px;
			background: url(../img/spritesheet.png) 218px 142px, linear-gradient(to bottom, #8dd95a, #75c242);
		}
	}
	&__price {
		background: #8dd95a url(../img/spritesheet.png) 218px 106px;
		float: left;
		width: 130px;
		margin-left: 10px;
		padding: 13px 5px;
		color: #fff;
		padding-left: 50px;
		cursor: pointer;
	}
}

/* slider block */
.slider{
	max-width: 1776px;
	margin: 0 auto;
	&__list {
		@include list;
	}
	&__item {
		padding: 25px 0 10px;
		&_first {
			background: url('../img/slider-img-1.jpg') no-repeat;
		}
	}
	&__content-img-wrapper {
		float: left;
	}
	&__text {
		float: left;
		margin-left: 90px;
		margin-top: 15px;
		color: #4b4b4b;
		&-first {
			font-size: 45px;
		}
		&-second {
			font-size: 70px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		&-third {
			font-size: 17px;
		}
	}
}
.bx-viewport {
	width: auto!important;
}

/* our products block */
.main {
	width: 695px;
	float: left;
	&__title {
		color: #4b4b4b;
		position: relative;
		padding-left: 20px;
		font-weight: normal;
		font-size: 32px;
		margin-bottom: 13px;
		&:before {
			display: inline-block;
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			width: 12px;
		    height: 26px;
		    background-image: url('../img/spritesheet.png');
   			background-repeat: no-repeat;
		    background-position: -378px -165px;
		}
	}
	/* menu */
	&__our-products {
		&-nav-list {
			@include list;
			@extend .clear;
			margin-bottom: 20px;
		}
		&-nav-item {
			float: left;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
		}
		&-nav-link {
			@include buttons(auto, 45px, 0, #898989);
			color: #fff;
			background: linear-gradient(to bottom, #898989, #6a6a6a);
			font-size: 18px;
			padding-left: 20px;
			padding-right: 20px;
			&:hover {
				text-decoration: none;
				background: #83d24e;
				background: linear-gradient(to bottom, #83d24e, #75c242);

			}
		}
		&-phones {
			&-list {
				@include list;
				@extend .clear;
			}
			&-item {
				float: left;
				width: 225px;
				padding-top: 5px;
				min-height: 336px;
				margin-left: 6px;
				margin-bottom: 25px;
				text-align: center;
				padding-bottom: 25px;
				transition: 0.3s;
				&:first-child {
					margin-left: 0;
				}
				&:hover {
					box-shadow: 0 0 5px 1px rgba(0,0,0, 0.5);
				}
			}
			&-link {
				width: 225px;
				height: 237px;
				display: block;
				position: relative;
				margin-bottom: 7px;
			}
		}
		&-discount-price {
			position: absolute;
			background: #73c040;
			text-align: center;
			width: 82px;
			height: 82px;
			border-radius: 50%;
			bottom: -8px;
			right: 12px;
		}
		&-phones-old, &-phones-new {
			display: inline-block;
			position: absolute;
		}
		&-phones-old {
			text-decoration: line-through;
			left: 15px;
			top: 18px;
			color: #676c63;
			font-size: 12px;
		}
		&-phones-new {
			color: #fff;
			top: 35px;
			left: 10px;
		}
		&-phones-img-wrap {
			margin-left: 7px;
		}
		&-star-list {
			@include list;
			margin-left: 60px;
			&:after {
				@extend .clear;
			}
		}
		&-star-item {
		 	width: 16px;
		    height: 15px;
		    background-position: -325px -165px;
		    background-image: url(spritesheet.png);
    		background-repeat: no-repeat;
    		float: left;
    		margin-left: 4px;
    		cursor: pointer;
    		&_active {
    			background-position: -351px -165px;
    		}
		}
		&-phone-text {
			text-align: center;
			color: #575757;
			height: 33px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&-phones-button {
			@include buttons(135px, 45px, 0, #8c8c8c);
			background: linear-gradient(to bottom, #949494, #696969);
			&:hover {
				background: #8dde57;
				background: linear-gradient(to bottom, #92e45c, #76c343)
			}
		}
	}
}
.aside {
	width: 250px;
	float: right;
}

