.hide {
  display: none; }

.show {
  display: block; }

.clear {
  display: table;
  content: "";
  height: 0;
  clear: both; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* for press footer*/
html, body {
  height: 100%; }

.page {
  min-height: 100%;
  position: relative; }

.wrapper {
  padding-bottom: 350px; }

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0; }

/* end press footer*/
a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/* mixins */
/* buttons */
/* list */
body {
  font-family: Verdana, "Sans-Serif";
  font-weight: 400; }
