.hide {
  display: none; }

.show {
  display: block; }

.clear, .center-layout:after, .header__nav:after, .header__list-profile:after, .header__list-enter:after, .header__contakts:after, .header__menu-list:after, .header__info:after, .header .header__buy-button:after, .main__our-products-nav-list, .main__our-products-phones-list, .main__our-products-star-list:after, .main__prydbay-content:after, .aside:after, .aside__news:after, .aside__news-info:after, .aside__weekends-dots-list:after, .brands:after, .brands-list:after, .footer__text:after, .footer__copy-social-list:after {
  display: table;
  content: "";
  height: 0;
  clear: both; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.uppercase {
  text-transform: uppercase; }

/* for press footer*/
html, body {
  height: 100%; }

.page {
  min-height: 100%;
  position: relative; }

.wrapper {
  padding-bottom: 350px; }

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0; }

/* end press footer*/
a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

/* mixins */
/* buttons */
/* list */
/* placeholder */
body {
  font-family: Verdana, "Sans-Serif";
  font-weight: 400;
  font-size: 14px; }

.center-layout {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px; }

.header {
  border-top: 5px solid #73c040;
  margin-bottom: 14px;
  /* header left menu */
  /* header right menu*/
  /* header logo section */
  /* header bottom*/
  /* header bottom navigation*/
  /* header bottom search and basket*/
  /* appear block with phone*/ }
  .header__nav {
    background: #fdfefc;
    background: linear-gradient(to bottom, #fefefe, #f4f7ef);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
  .header__list-profile {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 28px; }
    @media screen and (max-width: 900px) {
      .header__list-profile {
        font-size: 14px; } }
    @media screen and (max-width: 860px) {
      .header__list-profile {
        font-size: 12px; } }
    @media screen and (max-width: 810px) {
      .header__list-profile {
        float: none;
        width: 310px;
        margin: 0 auto; } }
    @media screen and (max-width: 465px) {
      .header__list-profile {
        float: none;
        width: 215px;
        margin: 0 auto;
        font-size: 11px; } }
    .header__list-profile-item {
      float: left;
      margin-left: 53px; }
      .header__list-profile-item:first-child {
        margin-left: 0; }
      @media screen and (max-width: 465px) {
        .header__list-profile-item {
          margin: 2px; } }
    .header__list-profile-link {
      color: #666;
      display: inline-block;
      position: relative;
      padding-top: 15px;
      padding-bottom: 16px; }
      .header__list-profile-link:hover {
        color: #85c858;
        text-decoration: none; }
      @media screen and (max-width: 900px) {
        .header__list-profile-link {
          padding: 10px 5px 10px; } }
      @media screen and (max-width: 465px) {
        .header__list-profile-link {
          padding: 7px 5px 7px; } }
      .header__list-profile-link:before {
        display: block;
        content: "";
        position: absolute;
        left: -28px;
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat; }
        @media screen and (max-width: 465px) {
          .header__list-profile-link:before {
            background: none; } }
      .header__list-profile-link_profile:hover:before {
        background-position: -109px -47px; }
      .header__list-profile-link_profile:before {
        width: 16px;
        height: 15px;
        background-position: -83px -47px; }
      .header__list-profile-link_backet:before {
        width: 18px;
        height: 16px;
        background-position: -85px -5px; }
      .header__list-profile-link_backet:hover:before {
        background-position: -113px -5px; }
      .header__list-profile-link_check:before {
        width: 16px;
        height: 11px;
        background-position: -298px -5px;
        top: 18px;
        left: -25px; }
        @media screen and (max-width: 900px) {
          .header__list-profile-link_check:before {
            top: 13px; } }
      .header__list-profile-link_check:hover:before {
        background-position: -298px -26px; }
  .header__list-enter {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 7px; }
    @media screen and (max-width: 900px) {
      .header__list-enter {
        font-size: 14px; } }
    @media screen and (max-width: 860px) {
      .header__list-enter {
        font-size: 12px; } }
    @media screen and (max-width: 810px) {
      .header__list-enter {
        float: none;
        width: 430px;
        margin: 0 auto; } }
    @media screen and (max-width: 465px) {
      .header__list-enter {
        width: 348px; } }
    @media screen and (max-width: 370px) {
      .header__list-enter {
        width: 253px; } }
    .header__list-enter-item {
      float: left;
      margin-left: 45px; }
      @media screen and (max-width: 810px) {
        .header__list-enter-item {
          margin-left: 27px; } }
      .header__list-enter-item:first-child {
        margin-left: 0; }
      .header__list-enter-item_enter {
        margin-left: 20px; }
      @media screen and (max-width: 465px) {
        .header__list-enter-item {
          margin-left: 5px;
          font-size: 11px; } }
    .header__list-enter-link {
      color: #666;
      display: inline-block;
      padding: 15px 5px 16px; }
      .header__list-enter-link:hover {
        text-decoration: none;
        color: #fff;
        background: #89d656;
        background: linear-gradient(to bottom, #8cd959, #74c141); }
      @media screen and (max-width: 900px) {
        .header__list-enter-link {
          padding: 10px 5px 10px; } }
      @media screen and (max-width: 465px) {
        .header__list-enter-link {
          padding: 7px 5px 7px; } }
      .header__list-enter-link_line {
        margin-left: 2px;
        margin-right: 1px;
        padding: 0; }
      .header__list-enter-link_language {
        position: relative;
        width: 80px;
        text-align: right; }
        @media screen and (max-width: 465px) {
          .header__list-enter-link_language {
            text-align: left; } }
        .header__list-enter-link_language:before {
          width: 16px;
          height: 11px;
          background-position: -5px -47px;
          background-image: url(../img/spritesheet.png);
          background-repeat: no-repeat;
          display: block;
          content: "";
          position: absolute;
          left: 5px;
          top: 18px; }
          @media screen and (max-width: 900px) {
            .header__list-enter-link_language:before {
              top: 11px; } }
          @media screen and (max-width: 465px) {
            .header__list-enter-link_language:before {
              background: none; } }
  .header .header__logo {
    margin-bottom: 10px; }
    .header .header__logo-link {
      float: left;
      max-width: 308px;
      max-height: 85px; }
      @media screen and (max-width: 900px) {
        .header .header__logo-link {
          width: 245px; } }
      @media screen and (max-width: 810px) {
        .header .header__logo-link {
          width: 200px; } }
      @media screen and (max-width: 550px) {
        .header .header__logo-link {
          float: none;
          margin: 0 auto 15px;
          display: block; } }
      @media screen and (max-width: 465px) {
        .header .header__logo-link {
          width: 120px; } }
      .header .header__logo-link img {
        max-width: 308px; }
        @media screen and (max-width: 900px) {
          .header .header__logo-link img {
            width: 245px; } }
        @media screen and (max-width: 810px) {
          .header .header__logo-link img {
            width: 200px; } }
        @media screen and (max-width: 465px) {
          .header .header__logo-link img {
            width: 120px; } }
  .header__contakts {
    float: right;
    padding-top: 18px; }
    @media screen and (max-width: 465px) {
      .header__contakts {
        text-align: center; } }
    @media screen and (max-width: 900px) {
      .header__contakts {
        font-size: 12px; } }
    @media screen and (max-width: 810px) {
      .header__contakts {
        font-size: 10px;
        padding-top: 4px; } }
    @media screen and (max-width: 550px) {
      .header__contakts {
        float: none;
        width: 75%;
        margin: 0 auto 15px; } }
    .header__contakts-tel, .header__contakts-comp {
      padding-left: 25px;
      border: 1px solid #ccc;
      padding-top: 5px; }
      @media screen and (max-width: 465px) {
        .header__contakts-tel, .header__contakts-comp {
          border: none;
          text-align: left; } }
      .header__contakts-tel a, .header__contakts-comp a {
        margin: 0;
        margin-bottom: 7px;
        position: relative;
        display: block;
        color: #666; }
    .header__contakts-tel {
      float: left;
      min-width: 152px;
      background: #fefffe;
      background: linear-gradient(to bottom, #fefffe, #f4f7ef); }
      @media screen and (max-width: 810px) {
        .header__contakts-tel {
          min-width: 105px; } }
      @media screen and (max-width: 465px) {
        .header__contakts-tel {
          background: none;
          float: none;
          display: inline-block; } }
      .header__contakts-tel_tel:before {
        width: 10px;
        height: 16px;
        background-position: -466px -5px;
        position: absolute;
        content: "";
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        display: block;
        left: -18px;
        top: 4px; }
        @media screen and (max-width: 900px) {
          .header__contakts-tel_tel:before {
            top: 1px; } }
      .header__contakts-tel_fax:before {
        width: 16px;
        height: 16px;
        background-position: -57px -47px;
        position: absolute;
        content: "";
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        display: block;
        left: -20px;
        top: 4px; }
        @media screen and (max-width: 900px) {
          .header__contakts-tel_fax:before {
            top: 1px; } }
    .header__contakts-comp {
      float: right;
      margin-left: 10px;
      min-width: 175px;
      background: #fefffe;
      background: linear-gradient(to bottom, #fefffe, #f4f7ef); }
      @media screen and (max-width: 810px) {
        .header__contakts-comp {
          min-width: 135px; } }
      @media screen and (max-width: 465px) {
        .header__contakts-comp {
          background: none;
          float: none;
          margin-left: 0;
          display: inline-block;
          min-width: 115px;
          margin: 0 auto; } }
      @media screen and (max-width: 389px) {
        .header__contakts-comp {
          position: relative;
          left: 5px; } }
      .header__contakts-comp_skype:before {
        width: 14px;
        height: 15px;
        background-position: -298px -47px;
        position: absolute;
        content: "";
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        display: block;
        left: -20px;
        top: 4px; }
        @media screen and (max-width: 925px) {
          .header__contakts-comp_skype:before {
            top: 1px; } }
      .header__contakts-comp_mail:before {
        width: 16px;
        height: 11px;
        background-position: -31px -47px;
        position: absolute;
        content: "";
        background-image: url(../img/spritesheet.png);
        background-repeat: no-repeat;
        display: block;
        left: -20px;
        top: 4px; }
        @media screen and (max-width: 900px) {
          .header__contakts-comp_mail:before {
            top: 2px; } }
  .header__menu {
    float: left;
    margin-top: 10px; }
    @media screen and (max-width: 960px) {
      .header__menu {
        float: none;
        margin: 0 auto;
        width: 445px;
        margin-bottom: 10px; } }
    @media screen and (max-width: 490px) {
      .header__menu {
        text-align: center;
        width: 330px; } }
    @media screen and (max-width: 370px) {
      .header__menu {
        width: 213px; } }
    .header__menu-list {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      @media screen and (max-width: 490px) {
        .header__menu-list {
          display: inline-block;
          min-width: 327px; } }
      @media screen and (max-width: 370px) {
        .header__menu-list {
          min-width: 213px; } }
    .header__menu-item {
      float: left;
      margin-left: 18px;
      text-transform: uppercase;
      color: #4b4b4b;
      font-size: 18px; }
      .header__menu-item:first-child {
        margin-left: 0; }
      .header__menu-item_active a {
        color: #73c040; }
      @media screen and (max-width: 1060px) {
        .header__menu-item {
          font-size: 16px; } }
      @media screen and (max-width: 1060px) {
        .header__menu-item {
          font-size: 16px; } }
      @media screen and (max-width: 490px) {
        .header__menu-item {
          font-size: 12px;
          margin-left: 12px; } }
      @media screen and (max-width: 370px) {
        .header__menu-item {
          margin-bottom: 10px; } }
    .header__menu-link {
      color: #4b4b4b;
      transition: 0.3s; }
      .header__menu-link:hover {
        color: #73c040;
        text-decoration: none; }
  .header__info {
    float: right;
    min-width: 442px;
    position: relative; }
    @media screen and (max-width: 960px) {
      .header__info {
        float: none;
        margin: 0 auto;
        width: 100px; } }
    @media screen and (max-width: 490px) {
      .header__info {
        text-align: center;
        min-width: 180px; } }
    .header__info-fake {
      border: 1px solid #73c040;
      position: relative;
      min-width: 245px; }
      @media screen and (max-width: 490px) {
        .header__info-fake {
          min-width: 177px; } }
    .header__info-input {
      padding: 13px 5px 12px;
      border: 0;
      color: #4b4b4b;
      min-width: 194px; }
      @media screen and (max-width: 930px) {
        .header__info-input {
          padding: 9px 5px 10px; } }
      @media screen and (max-width: 490px) {
        .header__info-input {
          padding: 2px 5px;
          min-width: 166px; } }
      .header__info-input:focus {
        outline: 0; }
    .header__info-submit, .header__info .fake-submit {
      width: 41px;
      height: 42px;
      position: absolute;
      right: 0;
      top: 0; }
      @media screen and (max-width: 930px) {
        .header__info-submit, .header__info .fake-submit {
          height: 36px; } }
      @media screen and (max-width: 490px) {
        .header__info-submit, .header__info .fake-submit {
          height: 21px;
          width: 26px; } }
    .header__info-submit {
      z-index: 2;
      opacity: 0; }
    .header__info-form {
      float: left; }
      @media screen and (max-width: 490px) {
        .header__info-form {
          float: none;
          width: 170px;
          margin-bottom: 5px; } }
    .header__info .fake-submit {
      cursor: pointer;
      z-index: 1;
      background: #8dd95a url(../img/spritesheet.png) -1px 84px;
      background: url(../img/spritesheet.png) -1px 84px, linear-gradient(to bottom, #8dd95a, #75c242); }
      @media screen and (max-width: 490px) {
        .header__info .fake-submit {
          background-position: -7px 74px; } }
  @media screen and (max-width: 490px) {
    .header__search {
      display: inline-block; } }
  .header__price {
    background: #8dd95a url(../img/spritesheet.png) 0px 51px;
    float: left;
    width: 130px;
    margin-left: 10px;
    padding: 13px 5px;
    color: #fff;
    padding-left: 50px;
    cursor: pointer;
    transition: 0.3s; }
    .header__price:hover {
      background-color: #a1e077; }
    @media screen and (max-width: 930px) {
      .header__price {
        padding-top: 11px;
        padding-bottom: 10px;
        padding-left: 35px;
        background-position: -4px 50px; } }
    @media screen and (max-width: 490px) {
      .header__price {
        margin-left: 0;
        width: 140px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-position: 0px 47px; } }
  .header .header__buy {
    background: #fff;
    border-top: 5px solid #73c040;
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 0;
    width: 300px; }
    .header .header__buy-img-wrap {
      float: left;
      margin-top: 5px; }
    .header .header__buy-text {
      float: left;
      font-size: 18px;
      color: #555;
      line-height: 25px; }
    .header .header__buy-title {
      margin-top: 12px;
      margin-bottom: 8px; }
    .header .header__buy-price_sum {
      float: none; }
    .header .header__buy-price_sum {
      clear: both;
      text-align: center;
      color: #555;
      font-size: 18px;
      margin-bottom: 15px; }
    .header .header__buy-price-red {
      color: #bb0000; }
    .header .header__buy-button {
      padding-bottom: 20px; }
    .header .header__buy-buttons {
      width: 105px;
      height: 45px;
      line-height: 45px;
      border-radius: 0;
      background: #929292;
      display: inline-block;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      text-align: center;
      cursor: pointer;
      transition: .3s;
      color: #fff;
      font-size: 18px;
      float: left;
      background: linear-gradient(to bottom, #898989, #6a6a6a); }
      .header .header__buy-buttons:hover {
        background: #858585; }
      .header .header__buy-buttons:before {
        content: "";
        display: inline-block; }
      .header .header__buy-buttons:hover {
        background: #8cdd56;
        background: linear-gradient(to bottom, #92e45c, #75c342); }
      .header .header__buy-buttons_basket {
        margin-left: 18px; }
      .header .header__buy-buttons_buy {
        float: right;
        margin-right: 18px; }

/* slider block */
.slider {
  max-width: 1776px;
  margin: 0 auto; }
  .slider__list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .slider__item {
    padding: 25px 0 10px; }
    .slider__item_first {
      background: url('../img/slider-img-1.jpg') no-repeat; }
  .slider__content-img-wrapper {
    float: left; }
    @media screen and (max-width: 900px) {
      .slider__content-img-wrapper {
        width: 230px !important; } }
    @media screen and (max-width: 600px) {
      .slider__content-img-wrapper {
        width: 180px !important; } }
  .slider__text {
    float: left;
    margin-left: 90px;
    margin-top: 15px;
    color: #4b4b4b; }
    @media screen and (max-width: 900px) {
      .slider__text {
        margin-left: 0;
        float: right; } }
    @media screen and (max-width: 530px) {
      .slider__text {
        width: 165px; } }
    .slider__text-first {
      font-size: 45px; }
      @media screen and (max-width: 900px) {
        .slider__text-first {
          font-size: 35px; } }
      @media screen and (max-width: 665px) {
        .slider__text-first {
          font-size: 26px; } }
      @media screen and (max-width: 600px) {
        .slider__text-first {
          font-size: 20px; } }
    .slider__text-second {
      font-size: 70px;
      text-transform: uppercase;
      margin-bottom: 20px; }
      @media screen and (max-width: 900px) {
        .slider__text-second {
          font-size: 50px; } }
      @media screen and (max-width: 665px) {
        .slider__text-second {
          font-size: 35px; } }
      @media screen and (max-width: 665px) {
        .slider__text-second {
          font-size: 28px;
          margin-bottom: 10px; } }
    .slider__text-third {
      font-size: 17px; }
      @media screen and (max-width: 665px) {
        .slider__text-third {
          font-size: 14px; } }

/* our products block */
.main {
  width: 695px;
  float: left;
  /* menu */ }
  @media screen and (max-width: 985px) {
    .main {
      width: 710px;
      margin: 0 auto;
      float: none; } }
  @media screen and (max-width: 720px) {
    .main {
      width: 580px; } }
  @media screen and (max-width: 600px) {
    .main {
      width: 94%; } }
  .main-content {
    margin-bottom: 10px; }
  .main__title {
    color: #4b4b4b;
    position: relative;
    padding-left: 20px;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 13px; }
    @media screen and (max-width: 600px) {
      .main__title {
        font-size: 26px; } }
    .main__title_float {
      float: left;
      margin: 0;
      margin-bottom: 30px; }
    .main__title:before {
      display: inline-block;
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 26px;
      background-image: url('../img/spritesheet.png');
      background-repeat: no-repeat;
      background-position: -378px -165px; }
  .main__our-products-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px; }
    @media screen and (max-width: 510px) {
      .main__our-products-nav-list {
        text-align: center; } }
  .main__our-products-nav-item {
    display: inline-block;
    margin-left: 10px; }
    .main__our-products-nav-item:first-child {
      margin-left: 0; }
  .main__our-products-nav-link {
    width: auto;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    background: #898989;
    display: inline-block;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    background: linear-gradient(to bottom, #898989, #6a6a6a);
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px; }
    .main__our-products-nav-link:hover {
      background: #7c7c7c; }
    .main__our-products-nav-link:before {
      content: "";
      display: inline-block; }
    @media screen and (max-width: 700px) {
      .main__our-products-nav-link {
        font-size: 14px;
        line-height: 16px;
        padding-top: 10px;
        height: 25px; } }
    @media screen and (max-width: 600px) {
      .main__our-products-nav-link {
        font-size: 12px;
        margin-bottom: 10px; } }
    .main__our-products-nav-link:hover {
      text-decoration: none;
      background: #83d24e;
      background: linear-gradient(to bottom, #83d24e, #75c242); }
  .main__our-products-phones-list {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 985px) {
      .main__our-products-phones-list {
        text-align: center; } }
  .main__our-products-phones-item {
    display: inline-block;
    width: 225px;
    padding-top: 5px;
    min-height: 336px;
    margin-left: 6px;
    margin-bottom: 25px;
    text-align: center;
    padding-bottom: 25px;
    transition: 0.3s; }
    @media screen and (max-width: 985px) {
      .main__our-products-phones-item {
        width: 230px; } }
    @media screen and (max-width: 730px) {
      .main__our-products-phones-item {
        width: 235px; } }
    .main__our-products-phones-item:first-child {
      margin-left: 0; }
    .main__our-products-phones-item:hover {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
  .main__our-products-phones-link {
    width: 225px;
    height: 237px;
    display: block;
    position: relative;
    margin-bottom: 10px; }
  .main__our-products-discount-price {
    position: absolute;
    background: #73c040;
    text-align: center;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    bottom: -8px;
    right: 12px; }
  .main__our-products-phones-old, .main__our-products-phones-new {
    display: inline-block;
    position: absolute; }
  .main__our-products-phones-old {
    text-decoration: line-through;
    left: 15px;
    top: 18px;
    color: #676c63;
    font-size: 12px; }
  .main__our-products-phones-new {
    color: #fff;
    top: 35px;
    left: 10px; }
  .main__our-products-phones-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
    @media screen and (max-width: 700px) {
      .main__our-products-phones-img {
        width: 160px; } }
  .main__our-products-star-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    margin-bottom: 8px; }
  .main__our-products-star-item {
    width: 16px;
    height: 15px;
    background-position: -325px -165px;
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 4px;
    cursor: pointer; }
    .main__our-products-star-item_active {
      background-position: -351px -165px; }
  .main__our-products-phone-text {
    text-align: center;
    color: #575757;
    height: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0; }
  .main__our-products-phones-button {
    width: 115px;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    background: #8c8c8c;
    display: inline-block;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    background: linear-gradient(to bottom, #949494, #696969);
    color: #fff;
    font-size: 18px;
    font-weight: normal; }
    .main__our-products-phones-button:hover {
      background: #7f7f7f; }
    .main__our-products-phones-button:before {
      content: "";
      display: inline-block; }
    .main__our-products-phones-button:hover {
      background: #8dde57;
      background: linear-gradient(to bottom, #92e45c, #76c343); }
  .main__our-products-discount {
    background: #d50000;
    display: inline-block;
    width: 70px;
    height: 30px;
    position: absolute;
    z-index: 1;
    left: 10px;
    color: #fff;
    padding-top: 15px; }
  .main__prydbay-content {
    margin-bottom: 25px; }
  .main__prydbay-text {
    color: #636363;
    float: left;
    width: 350px; }
    @media screen and (max-width: 605px) {
      .main__prydbay-text {
        float: none;
        text-align: center;
        width: 100%; } }
  .main__prydbay-p {
    margin-top: 0; }
  .main__prydbay-img-wrap {
    float: right; }
    @media screen and (max-width: 985px) {
      .main__prydbay-img-wrap {
        width: 230px; } }
    @media screen and (max-width: 605px) {
      .main__prydbay-img-wrap {
        float: none;
        margin: 0 auto; } }
  .main__prydbay-img {
    float: right; }
    @media screen and (max-width: 985px) {
      .main__prydbay-img {
        width: 230px; } }
  .main__controls {
    float: right; }
  .main__control {
    width: 45px;
    height: 45px;
    background: #89d953;
    background: linear-gradient(to bottom, #92e35c, #78c645);
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    position: relative; }
    .main__control:hover {
      background: #f8faf5;
      background: linear-gradient(to bottom, #fefefe, #f3f7ef);
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); }
    .main__control:before {
      position: absolute;
      width: 0;
      height: 0;
      display: block;
      content: "";
      border: 10px solid #fff;
      top: 14px;
      left: 13px;
      transform: rotate(45deg);
      border-radius: 4px; }
    .main__control-left:before {
      border-right-color: transparent;
      border-top-color: transparent;
      left: 17px; }
    .main__control-right:before {
      border-left-color: transparent;
      border-bottom-color: transparent;
      left: 8px; }
    .main__control-left:hover:before {
      border-left-color: #71bc3f;
      border-bottom-color: #71bc3f; }
    .main__control-right:hover:before {
      border-right-color: #71bc3f;
      border-top-color: #71bc3f; }
    .main__control_small {
      width: 30px;
      height: 30px; }
      .main__control_small:before {
        border-width: 6px; }
      .main__control_small.main__control-left:before {
        left: 13px;
        top: 10px; }
      .main__control_small.main__control-right:before {
        left: 7px;
        top: 10px; }

.aside {
  margin-top: 35px;
  width: 250px;
  float: right; }
  @media screen and (max-width: 986px) {
    .aside {
      float: none;
      width: 100%;
      text-align: center;
      vertical-align: top; } }
  .aside__first {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 15px 21px;
    margin-bottom: 25px; }
    @media screen and (max-width: 986px) {
      .aside__first {
        display: inline-block;
        width: 250px;
        vertical-align: top; } }
    .aside__first-title {
      text-transform: uppercase;
      font-size: 25px;
      color: #4b4b4b;
      margin-bottom: 15px; }
    .aside__first-text {
      color: #666;
      margin-bottom: 14px; }
      .aside__first-text:first-child {
        margin-bottom: 15px; }
    .aside__first-email {
      width: 100%;
      box-sizing: border-box;
      padding: 12px 5px;
      color: #cfcfcf;
      text-align: center;
      color: #666;
      margin-bottom: 16px; }
      .aside__first-email::-webkit-input-placeholder {
        color: #cfcfcf; }
      .aside__first-email::-moz-input-placeholder {
        color: #cfcfcf; }
      .aside__first-email::-ms-input-placeholder {
        color: #cfcfcf; }
      .aside__first-email::input-placeholder {
        color: #cfcfcf; }
      .aside__first-email:focus {
        outline: none; }
    .aside__first-submit {
      width: 100%;
      height: 45px;
      line-height: 45px;
      border-radius: 0;
      background: #82d14e;
      display: inline-block;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      text-align: center;
      cursor: pointer;
      transition: .3s;
      color: #fff;
      font-size: 18px;
      background: linear-gradient(to bottom, #92e35c, #77c544); }
      .aside__first-submit:hover {
        background: #74cc3a; }
      .aside__first-submit:before {
        content: "";
        display: inline-block; }
      .aside__first-submit:hover {
        background: linear-gradient(to bottom, #77c544, #92e35c); }
  @media screen and (max-width: 986px) {
    .aside__news {
      display: inline-block;
      width: 570px;
      vertical-align: top; } }
  @media screen and (max-width: 590px) {
    .aside__news {
      width: 290px; } }
  @media screen and (max-width: 986px) {
    .aside__news__block {
      display: inline-block;
      width: 250px;
      margin-left: 15px;
      vertical-align: top; } }
  .aside__news-title {
    text-transform: uppercase;
    font-size: 25px;
    color: #4b4b4b;
    float: left;
    margin-bottom: 20px; }
  .aside__news-img-wrap {
    margin-bottom: 10px; }
  .aside__news-img-title {
    font-weight: bold;
    color: #575757;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px; }
  .aside__news-img-text {
    color: #909090;
    margin-bottom: 20px; }
  .aside__news-info {
    margin-bottom: 25px;
    font-size: 16px; }
  .aside__news-more {
    float: left;
    color: #73c040; }
  .aside__news-date {
    float: right;
    color: #666; }
  .aside__weekends {
    border: 1px solid #ccc;
    text-align: center;
    background: #fafbf8;
    background: linear-gradient(to bottom, #fdfefd, #f3f6ee);
    padding: 5px 10px 10px;
    transition: 0.3s; }
    @media screen and (max-width: 986px) {
      .aside__weekends {
        display: inline-block;
        width: 250px;
        margin-left: 15px;
        vertical-align: top; } }
    .aside__weekends:hover {
      background: linear-gradient(to bottom, #f3f6ee, #fdfefd); }
    .aside__weekends-list {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    .aside__weekends-text {
      margin: 0;
      font-size: 22px;
      color: #4b4b4b; }
      .aside__weekends-text_on {
        font-size: 18px; }
      .aside__weekends-text_small {
        font-size: 17px;
        line-height: 29px; }
    .aside__weekends-link {
      display: block; }
      .aside__weekends-link:hover {
        text-decoration: none; }
    .aside__weekends-dots-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: inline-block; }
    .aside__weekends-dots-item {
      float: left;
      margin-left: 5px; }
      .aside__weekends-dots-item:first-child {
        margin-left: 0; }
    .aside__weekends-dots-link {
      width: 7px;
      height: 7px;
      background: #666;
      border-radius: 50%;
      display: block; }
      .aside__weekends-dots-link_active {
        background: #76c144; }
  .aside .green {
    color: #73c040; }
  .aside span.prydbay {
    font-size: 30px; }
  .aside span.large {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 17px;
    display: inline-block; }
  .aside span.middle {
    font-size: 22px; }

/* brands */
.brands {
  width: 100%;
  margin-bottom: 50px; }
  .brands-list {
    clear: both;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 985px) {
      .brands-list {
        width: 500px;
        margin: 0 auto; } }
    @media screen and (max-width: 515px) {
      .brands-list {
        width: 330px;
        margin: 0 auto; } }
  .brands .main__title, .brands .main__controls {
    display: inline-block; }
  .brands-item {
    float: left;
    width: 150px;
    height: 100px;
    position: relative;
    border: 1px solid #ccc;
    margin-left: 8px;
    background: #fffffe;
    background: linear-gradient(to bottom, #fefefe, #f5f8f1);
    cursor: pointer; }
    .brands-item:first-child {
      margin-left: 0; }
    @media screen and (max-width: 985px) {
      .brands-item {
        margin-bottom: 10px; }
        .brands-item:first-child {
          margin-left: 8px; } }
    .brands-item:hover {
      box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); }
      .brands-item:hover .brands-link_mts {
        background-position: -4px -249px; }
      .brands-item:hover .brands-link_playstation {
        background-position: -378px -212px; }
      .brands-item:hover .brands-link_kyivstar {
        background-position: -251px -318px; }
  .brands-link {
    width: 147px;
    height: 82px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto; }
    .brands-link_blizzard {
      background-position: -141px -5px;
      width: 147px;
      height: 77px; }
    .brands-link_ssr {
      background-position: -325px -73px;
      width: 131px;
      height: 82px; }
    .brands-link_kyivstar {
      background-position: -158px -157px;
      width: 89px;
      height: 82px; }
    .brands-link_mts {
      width: 133px;
      height: 64px;
      background-position: -342px -306px; }
    .brands-link_skype {
      width: 132px;
      height: 58px;
      background-position: -324px -5px; }
    .brands-link_playstation {
      width: 103px;
      height: 80px;
      background-position: -143px -245px; }

/* last bought section */
.last-bought {
  background: #73c040;
  padding: 13px;
  position: relative;
  z-index: 1; }
  .last-bought__logo {
    width: 60px;
    height: 55px;
    background-position: -205px -92px;
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -25px; }
  .last-bought__text {
    text-align: center;
    color: #fff; }

.footer {
  z-index: 12;
  background: #666;
  color: #fff;
  padding-bottom: 25px; }
  .footer-fix {
    padding-bottom: 314px;
    content: "";
    display: block; }
    @media screen and (max-width: 965px) {
      .footer-fix {
        padding-bottom: 514px; } }
    @media screen and (max-width: 581px) {
      .footer-fix {
        padding-bottom: 514px; } }
    @media screen and (max-width: 575px) {
      .footer-fix {
        padding-bottom: 558px; } }
    @media screen and (max-width: 534px) {
      .footer-fix {
        padding-bottom: 754px; } }
    @media screen and (max-width: 456px) {
      .footer-fix {
        padding-bottom: 951px; } }
  .footer__text {
    margin-bottom: 50px; }
    .footer__text-title {
      font-size: 22px;
      font-weight: normal;
      margin-bottom: 10px; }
  .footer__info {
    float: left;
    margin-left: 45px; }
    .footer__info:first-child {
      margin-left: 0; }
    .footer__info_member {
      width: 250px; }
    @media screen and (max-width: 670px) {
      .footer__info_information {
        margin-right: 45px; } }
    @media screen and (max-width: 425px) {
      .footer__info_information {
        margin-left: 0; } }
    @media screen and (max-width: 670px) {
      .footer__info_contakts {
        margin-left: 0; } }
  .footer__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    float: left; }
  .footer__item {
    margin-bottom: 6px; }
    .footer__item-member {
      display: inline-block; }
  .footer__link {
    display: inline-block;
    position: relative; }
    .footer__link:before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border: 4px solid #73c040;
      border-left-color: transparent;
      border-bottom-color: transparent;
      position: absolute;
      transform: rotate(45deg);
      left: -18px;
      bottom: 5px; }
  .footer__email-link {
    color: #fff; }
  .footer__list-member {
    margin-bottom: 10px; }
  .footer__copy-social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 238px;
    float: left; }
    @media screen and (max-width: 575px) {
      .footer__copy-social-list {
        float: none;
        margin: 0 auto; } }
  .footer__copy-social-item, .footer__copy-social-link {
    display: inline-block; }
  .footer__copy-social-link {
    background-image: url('../img/spritesheet.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 41px;
    border-radius: 8px;
    margin-left: 3px; }
    .footer__copy-social-link_face {
      background-position: -55px -92px; }
      .footer__copy-social-link_face:hover {
        background-position: -5px -92px; }
    .footer__copy-social-link_twitter {
      background-position: -108px -142px; }
      .footer__copy-social-link_twitter:hover {
        background-position: -55px -145px; }
    .footer__copy-social-link_vk {
      background-position: -5px -192px; }
      .footer__copy-social-link_vk:hover {
        background-position: -275px -142px; }
    .footer__copy-social-link_google {
      background-position: -155px -92px; }
      .footer__copy-social-link_google:hover {
        background-position: -105px -92px; }
    .footer__copy-social-link_mail {
      background-position: -5px -142px; }
      .footer__copy-social-link_mail:hover {
        background-position: -275px -92px; }
  .footer__copy-copyright {
    text-align: center;
    float: right;
    bottom: 25px; }
    @media screen and (max-width: 575px) {
      .footer__copy-copyright {
        float: none; } }

.tripple-line {
  float: left;
  width: 235px;
  margin-top: 18px;
  margin-left: 10px;
  height: 12px;
  background: linear-gradient(to bottom, #ccc 2px, #fff 2px, #fff 4px, #ccc 4px, #ccc 8px, #fff 8px, #fff 10px, #ccc 10px); }
  .tripple-line_brands {
    width: 690px; }
    @media screen and (max-width: 985px) {
      .tripple-line_brands {
        width: 430px;
        position: absolute;
        left: 50%;
        margin-left: -215px; } }
    @media screen and (max-width: 985px) {
      .tripple-line_brands {
        width: 200px;
        margin-left: -100px; } }
    @media screen and (max-width: 480px) {
      .tripple-line_brands {
        width: 100px;
        margin-left: -50px; } }
