.center-layout
	section.brands
		h2.main__title.main__title_float Брэнды
		.tripple-line.tripple-line_brands
		.main__controls
			span.main__control.main__control-left
			span.main__control.main__control-right
		ul.brands-list
			li.brands-item
				a.brands-link.brands-link_blizzard
			li.brands-item
				a.brands-link.brands-link_ssr
			li.brands-item
				a.brands-link.brands-link_kyivstar
			li.brands-item
				a.brands-link.brands-link_mts
			li.brands-item
				a.brands-link.brands-link_skype
			li.brands-item
				a.brands-link.brands-link_playstation