section.descripton
	ul.descripton__list
		li.descripton__item
			a.descripton__link
				h3.descripton__link-title Discover Apps
				p.descripton__link-p Lorem Ipsum is simply dummy
			p.descripton__text orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin
		li.descripton__item
			a.descripton__link
				h3.descripton__link-title Browse Apps
				p.descripton__link-p Lorem Ipsum is simply dummy
			p.descripton__text orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin
		li.descripton__item
			a.descripton__link
				h3.descripton__link-title Development
				p.descripton__link-p Lorem Ipsum is simply dummy
			p.descripton__text orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever sin
section.slogan
	p.slogan__text
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
	.slogan__controls.slogan__controls_left
	.slogan__controls.slogan__controls_right