.footer-fix
footer.footer
	.center-layout
		.footer__text
			.footer__info
				p.footer__text-title Ссылки
				ul.footer__list
					li.footer__item
						a.footer__link Мой аккаунт
					li.footer__item
						a.footer__link Личная информация
					li.footer__item
						a.footer__link Адреса
					li.footer__item
						a.footer__link Скидка
					li.footer__item
						a.footer__link История заказов
					li.footer__item
						a.footer__link Ваши ваучеры
			.footer__info
				p.footer__text-title Информация
				ul.footer__list
					li.footer__item
						a.footer__link Новые продукты
					li.footer__item
						a.footer__link Лидеры продаж
					li.footer__item
						a.footer__link Скидки
					li.footer__item
						a.footer__link Производители
					li.footer__item
						a.footer__link Поставщики
					li.footer__item
						a.footer__link Наши магазины
			.footer__info
				p.footer__text-title Контакты
				ul.footer__list
					li.footer__item Украина
					li.footer__item Чернигов 14000
					li.footer__item ул. Черниговская 7/48 
					li.footer__item Рабочие дни: Пн-Пт 
					li.footer__item Время: с 10:00 до 18:00 
					li.footer__item 
						a.footer__email-link(href="mailto:support@prydbay.com") support@prydbay.com 
			.footer__info.footer__info_member
				p.footer__text-title Мы вконтакте
				p.footer__list-member Участники: <span>3418</span>
				ul.footer__list
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-1.png" alt="people")
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-2.png" alt="people") 
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-3.png" alt="people") 
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-4.png" alt="people") 
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-5.png" alt="people") 
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-6.png" alt="people")
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-7.png" alt="people")
					li.footer__item-member
						a.footer__link-member
							img(src="img/people-8.png" alt="people")
		.footer__copy
			ul.footer__copy-social-list
				li.footer__copy-social-item
					a.footer__copy-social-link.footer__copy-social-link_face
				li.footer__copy-social-item
					a.footer__copy-social-link.footer__copy-social-link_twitter
				li.footer__copy-social-item
					a.footer__copy-social-link.footer__copy-social-link_vk
				li.footer__copy-social-item
					a.footer__copy-social-link.footer__copy-social-link_google
				li.footer__copy-social-item
					a.footer__copy-social-link.footer__copy-social-link_mail
			p.footer__copy-copyright &copy; 2014 Prydbay.com  All Rights Reserved.
