header.header
	nav.header__nav
		ul.header__list-profile 
			li.header__list-profile-item
				a.header__list-profile-link Профиль
			li.header__list-profile-item
				a.header__list-profile-link Корзина
			li.header__list-profile-item
				a.header__list-profile-link Проверить
		ul.header__list-enter
			li.header__list-enter-item
				a.header__list-enter-link Добро пожаловать!
			li.header__list-enter-item
				a.header__list-enter-link Вход
				span |
				a.header__list-enter-link Регистрация
			li.header__list-enter-item
				a.header__list-enter-link Русский
	.header__logo
		a(href="#").header__logo-link
			img(src="img/logo.png" alt="Prydbay.com").header__logo-img
		.header__contakts
			.header__contakts_tel
				p +38 063 606 63 57
				p +38 067 460 26 25
			.header__contakts_comp
				p prydbay
				p support@prydbay.com
	nav.header__menu
		ul.header__menu-list
			li.header__menu-item                         
				a.header__menu-link(href="#") Главная
			li.header__menu-item
				a.header__menu-link.header__menu-link_active(href="#") Каталог
			li.header__menu-item
				a.header__menu-link(href="#") Контакты
			li.header__menu-item
				a.header__menu-link(href="#") Блог
			li.header__menu-item
				a.header__menu-link(href="#") Новости
	.header__info
		.header__search
			input(type="search" name="search" placeholder="Поиск...")
			.header__price#header__price <span class="header__price__number">1</span> шт. - <span class=".header__price__price">89372.99</span>
			.header__buy
				.header__buy-img-wrap
					img.header__buy-img(src="img/buy-img.jpg" alt="buy-img")
				.header__buy-title Samsung <span>galaxy s5</span>
				.header__buy-price 1 x <span class="header__buy-price">4896.99</span>
				.header__buy-price Сумма: <span class="header__buy-price">4896.99</span>
				.header__buy-buttons
					.header__buy-buttons.header__buy-buttons_basket Корзина
					.header__buy-buttons.header__buy-buttons_buy Купить

