header.header
	nav.header__nav
		.center-layout
			ul.header__list-profile 
				li.header__list-profile-item
					a.header__list-profile-link.header__list-profile-link_profile Профиль
				li.header__list-profile-item
					a.header__list-profile-link.header__list-profile-link_backet Корзина
				li.header__list-profile-item
					a.header__list-profile-link.header__list-profile-link_check Проверить
			ul.header__list-enter
				li.header__list-enter-item
					a.header__list-enter-link Добро пожаловать!
				li.header__list-enter-item.header__list-enter-item_enter
					a.header__list-enter-link Вход
					span.header__list-enter-link_line |
					a.header__list-enter-link Регистрация
				li.header__list-enter-item
					a.header__list-enter-link.header__list-enter-link_language Русский
	section.header__logo
		.center-layout
			a(href="#").header__logo-link
				img(src="img/logo.png" alt="Prydbay.com").header__logo-img
			.header__contakts
				.header__contakts-tel
					a.header__contakts-tel_tel(href="tel:+380636066357") +38 063 606 63 57
					a.header__contakts-tel_fax(href="tel:+380674602625") +38 067 460 26 25
				.header__contakts-comp
					a.header__contakts-comp_skype(href="skype:prydbay?chat") prydbay
					a.header__contakts-comp_mail(href="mailto:support@prydbay.com") support@prydbay.com
	section.header__bottom
		.center-layout
			nav.header__menu
				ul.header__menu-list
					li.header__menu-item                         
						a.header__menu-link.header__menu-link_active(href="#") Главная
					li.header__menu-item
						a.header__menu-link.header__menu-link(href="#") Каталог
					li.header__menu-item
						a.header__menu-link(href="#") Контакты
					li.header__menu-item
						a.header__menu-link(href="#") Блог
					li.header__menu-item
						a.header__menu-link(href="#") Новости
			.header__info
				.header__search
					form.header__info-form(action="#" method="GET")
						.header__info-fake
							input.header__info-input(type="search" name="search" placeholder="Поиск...")
							input.header__info-submit(type="submit")
							.fake-submit
					.header__price#header__price <span class="header__price__number">1</span> шт. - <span class=".header__price__price">89372.99</span>
				.header__buy.hide
					.header__buy-img-wrap
						img.header__buy-img(src="img/buy-img.jpg" alt="buy-img")
					.header__buy-title Samsung <span>galaxy s5</span>
					.header__buy-price 1 x <span class="header__buy-price">4896.99</span>
					.header__buy-price Сумма: <span class="header__buy-price">4896.99</span>
					.header__buy-buttons
						.header__buy-buttons.header__buy-buttons_basket Корзина
						.header__buy-buttons.header__buy-buttons_buy Купить

