section.main-content
	.center-layout
		main.main
			h2.main__title Наши продукты
			nav.main__our-products
				ul.main__our-products-nav-list
					li.main__our-products-nav-item
						a.main__our-products-nav-link Новинки
					li.main__our-products-nav-item
						a.main__our-products-nav-link Популярное
					li.main__our-products-nav-item
						a.main__our-products-nav-link Бестселлеры
					li.main__our-products-nav-item
						a.main__our-products-nav-link Скидки
				ul.main__our-products-phones-list
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-1.jpg" alt="phone-1")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy S4 <br> Black Edition
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-2.jpg" alt="phone-2")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy Core Dous <br> (La Fleur)
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-3.jpg" alt="phone-3")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy S5
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-4.jpg" alt="phone-4")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text UHD-телевизор <br> UE40HU7000UXUA
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-5.jpg" alt="phone-5")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Samsung <br> NX30
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							.main__our-products-phones-img-wrap
								img.main__our-products-phones-img(src="img/phone-6.jpg" alt="phone-6")
								.main__our-products-discount-price
									span.main__our-products-phones-old $650.99
									span.main__our-products-phones-new $640.99
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Монитор <br> Samsung SD590
						span.main__our-products-phones-button В корзину
			h2.main__title Добро пожаловать на Prydbay
			p.main__prydbay-p Вы не представляете жизни без мобильной связи? Вам знакома ситуация, когда деньги на счету заканчиваются в самый не подходящий момент? Вы имеете доступ к Интернет? 
			p.main__prydbay-p Интернет-магазин Prydbay.com создан именно для Вас!
			h2.main__title Товары со скидкой
			.main__controls
				span.main__control.main__control-left
				span.main__control.main__control-right
			ul.main__our-products-phones-list
					li.main__our-products-phones-item
						a.main__our-products-phones-link
							span.main__our-products-discount -7%
							img.main__our-products-phones-img(src="img/phone-1.jpg" alt="phone-1")
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy S4 Black Edition
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						span.main__our-products-discount -7%
						a.main__our-products-phones-link
							img.main__our-products-phones-img(src="img/phone-2.jpg" alt="phone-2")
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy Core Dous (La Fleur)
						span.main__our-products-phones-button В корзину
					li.main__our-products-phones-item
						span.main__our-products-discount -7%
						a.main__our-products-phones-link
							img.main__our-products-phones-img(src="img/phone-3.jpg" alt="phone-3")
						ul.main__our-products-star-list
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item.main__our-products-star-item_active
							li.main__our-products-star-item
						p.main__our-products-phone-text Galaxy S5
						span.main__our-products-phones-button В корзину
			h2.main__title Брэнды
			.main__controls
				span.main__control.main__control-left
				span.main__control.main__control-right
			ul.main__brands-list
				li.main__brands-item
					a.main__brands-link.main__brands-link_blizzard
				li.main__brands-item
					a.main__brands-link.main__brands-link_ssr
				li.main__brands-item
					a.main__brands-link.main__brands-link_kyivstar
				li.main__brands-item
					a.main__brands-link.main__brands-link_mts
				li.main__brands-item
					a.main__brands-link.main__brands-link_skype
				li.main__brands-item
					a.main__brands-link.main__brands-link_playstation
		include _aside.jade
