section.slider
	ul.slider__list.bxslider
		li.slider__item.slider__item_first
			.center-layout
				.slider__content-img-wrapper
					img.slider__content-img(src="img/slider-phones.png" alt="slider-img")
				.slider__text
					.slider__text-first Samsung
					.slider__text-second Galaxy s5
					.slider__text-third устойчив к дождю, жидкостям, песку и пыли
		li.slider__item.slider__item_first
			.center-layout
				.slider__content-img-wrapper
					img.slider__content-img(src="img/slider-phones.png" alt="slider-img")
				.slider__text
					.slider__text-first Samsung
					.slider__text-second Galaxy s5
					.slider__text-third устойчив к дождю, жидкостям, песку и пыли

