section.slider
	.slider__list
		.slider__item
			.slider__content-img-wrapper
				img.slider__content-img(src="img/slider-phones.png" alt="slider-img")
			.slider__text
				.slider__first-text Samsung
				.slider__second-text Galaxy s5
				.slider__first-text устойчив к дождю, жидкостям, песку и пыли
	span.slider__content-button.slider__content-button_left
	span.slider__content-button.slider__content-button_right

