doctype
html
	.page
		include _head.jade
		include _header.jade
		include _slider.jade
		include _main.jade
		include _brands.jade
		include _last-bought.jade 
		include _footer.jade
		include _scripts.jade

